body{
    margin:0;
    padding:0;
    background:#FDF7FA;
}

.name {
    width:100%;
    height: 300px;
    background: #E2A3C7;
    transform: skewY(5deg);
}
    
.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left:25%;
}

.name .content .p-1  {
    color: #fff8f0;
    font-family: 'ital', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;
}

.name .content .p-2  {
    color: #fff8f0;
    font-family: 'ital', sans-serif;
    font-size: 35px;
    transform: skewY(5deg);
    
}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .img img {
    width: 180px;
    height: 320px;
}

.info{
    width: 90%;
    height: auto;
    background: #E2A3C7 ;
    margin:5% auto;
    
}

.info .tituloSeccion{
    color: #FDF7FA;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #fff8f0 dashed; 
}

    
    
.info .infoInfo{
    color: #392f5a;
    font-family: 'ital', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}